# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Meteora/Debug
/MeteoraTest/Debug
/Meteora.sdf
/Meteora.opensdf
/Debug
/ipch/METEORATEST-a2622b9f
